/*---------------------------- GOOGLE FONT --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*---------------------------- VARIABLE CSS --------------------------------- */
:root {
    --header-height: 3rem;

    --hue-colour: 195;

    /*----HSL Colours----*/
    --first-colour: hsl(var(--hue-colour), 75%, 55%); 
    --first-colour-second: hsl(var(--hue-colour), 75%, 55%);
    --first-colour-alt: hsl(var(--hue-colour), 65%, 50%);
    --first-colour-lighter: hsl(var(--hue-colour), 80%, 60%);
    --title-colour: hsl(var(--hue-colour), 18%, 25%);
    --text-colour: hsl(var(--hue-colour), 18%, 45%);
    --text-colour-light: hsl(var(--hue-colour), 18%, 65%);
    --input-colour: hsl(var(--hue-colour), 75%, 90%);
    --body-colour: hsl(var(--hue-colour), 75%, 99%);
    --container-colour: #FFF;
    
    
    /*----Font Sizes----*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;


    /*----Font Weights----*/
    --font-medium: 500;
    --font-semi-bold: 600;



    /*----Bottom Margins----*/
    --bm-0-25: 0.25rem;
    --bm-0-5: 0.5rem;
    --bm-0-75: 0.75rem;
    --bm-1: 1rem;
    --bm-1-5: 1.5rem;
    --bm-2: 2rem;
    --bm-2-5: 2.5rem;
    --bm-3: 3rem;


    /*----Z-index----*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}


/*Font for larger devices*/
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --tiny-font-size: 0.813rem;
    }
}
