/*---------------------------- GOOGLE FONT --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*---------------------------- VARIABLE CSS --------------------------------- */
:root {
    --header-height: 3rem;

    --hue-colour: 195;

    /*----HSL Colours----*/
    --first-colour: hsl(var(--hue-colour), 75%, 55%); 
    --first-colour-second: hsl(var(--hue-colour), 75%, 55%);
    --first-colour-alt: hsl(var(--hue-colour), 65%, 50%);
    --first-colour-lighter: hsl(var(--hue-colour), 80%, 60%);
    --title-colour: hsl(var(--hue-colour), 18%, 25%);
    --text-colour: hsl(var(--hue-colour), 18%, 45%);
    --text-colour-light: hsl(var(--hue-colour), 18%, 65%);
    --input-colour: hsl(var(--hue-colour), 75%, 90%);
    --body-colour: hsl(var(--hue-colour), 75%, 99%);
    --container-colour: #FFF;
    
    
    /*----Font Style----*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;




}
